# Generated with ansible

provider "aws" {
  access_key = "{{ environment_aws_secrets.access_key }}"
  secret_key = "{{ environment_aws_secrets.secret_key }}"
  region     = "{{ cloud_aws.region }}"
}

resource "aws_key_pair" "ssh" {
  key_name   = "{{ cloud_aws.ssh_key_name }}"
  public_key = "{{ ssh_key.msg }}"
}

module "vpc" {
  source         = "./terraform_modules/tf_aws_vpc"
  name           = "{{ cloud_id }}"
  cidr           = "{{ cloud_aws.aws_vpc_cidr }}"
  public_subnets = [{{ cloud_aws.aws_vpc_subnet_public_cidr }}]
  azs            = [{{ cloud_aws.availability_zones }}]
  tags           = {
    Terraform       = "true"
    cloud_id        = "{{ cloud_id }}"
    environment_id  = "{{ environment_id }}"
  }
}

module "sg_management" {
  source              = "./terraform_modules/tf_aws_sg_mgmt"
  cidr                = "{{ cloud_aws.aws_vpc_cidr }}"
  vpc_id              = "${module.vpc.vpc_id}"
  secgrp_append_name  = "{{ cloud_id }}-{{ environment_id }}"
  region              = "{{ cloud_aws.region }}"
  tags                = {
    environment_id  = "{{ environment_id }}"
    cloud_id        = "{{ cloud_id }}"
  }
}

module "db_instance" {
  source              = "./terraform_modules/tf_aws_ec2"
  secgrp_id           = ["${module.sg_management.sg_id}"]
  instance_key_name   = "${aws_key_pair.ssh.key_name}"
  ssh_private_key_path= "ansible/{{ ssh_key_path }}"
  instance_type       = "{{ cloud_db.ec2.type }}"
  instance_domain     = "{{ cloud_subdomain }}"
  instance_short_name = "{{ cloud_db.short_name }}"
  aws_ami             = "{{ cloud_aws.golden_ami }}"
  subnet_id           = "${module.vpc.public_subnets}"
  number_of_instances = "{{ cloud_db.number_of_instances }}"
  voltype             = "{{ cloud_db.ec2.volume_type }}"
  volsize             = "{{ cloud_db.ec2.root_volume_size }}"
  region              = "{{ cloud_aws.region }}"
  playbook_path       = "ansible/{{ cloud_db.long_name }}.yaml"
  tags                = {
      environment_id      = "{{ environment_id }}"
      cloud_id            = "{{ cloud_id }}"
      group               = "{{ environment_name }}"
      type                = "{{ cloud_db.long_name }}"
      owner               = "{{ environment_user_mailid }}"

  }
}

module "web_instance" {
  source              = "./terraform_modules/tf_aws_ec2"
  secgrp_id           = ["${module.sg_management.sg_id}"]
  instance_type       = "{{ cloud_web.ec2.type }}"
  instance_key_name   = "${aws_key_pair.ssh.key_name}"
  ssh_private_key_path= "ansible/{{ ssh_key_path }}"
  instance_domain     = "{{ cloud_subdomain }}"
  instance_short_name = "{{ cloud_web.short_name }}"
  aws_ami             = "{{ cloud_aws.golden_ami }}"
  subnet_id           = "${module.vpc.public_subnets}"
  number_of_instances = "{{ cloud_web.number_of_instances }}"
  voltype             = "{{ cloud_web.ec2.volume_type }}"
  volsize             = "{{ cloud_web.ec2.root_volume_size }}"
  region              = "{{ cloud_aws.region }}"
  playbook_path       = "ansible/{{ cloud_web.long_name }}.yaml"
  tags                = {
      environment_id      = "{{ environment_id }}"
      cloud_id            = "{{ cloud_id }}"
      group               = "{{ environment_name }}"
      type                = "{{ cloud_web.long_name }}"
      owner               = "{{ environment_user_mailid }}"

  }
}
